/*

    WebNotepad for Firefox
    https://jaroslavc.eu/webnotepad

*/

*
{
    --background: #dddddd;
    --text: #000000;
    --buttons: #f4f4f4;
    --hover-buttons: #ffffff;
    --menu-background: #f1f2f6;
    --menu-text: #2f3542;
    --link-border-hover: #70a1ff;
    --link-border-hover-second: #ff4757;
    --link-border-hover-third: #2ed573;
    --input-background: #f1f2f6;
}
